language: python
cache: 
  - pip
  - npm

python:
  - "3.6"

install:
    - pip install -r requirements.txt
    - pip install pytest pytest-cov flake8 pylint codecov

script: make test

after_success:
    - codecov --token 9018a42a-cf9a-41c7-892a-0634f478986a

branches:
  only:
  - master

notifications:
  email: false
